<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".dictionary.EnWordDetailActivity2"
            android:exported="false"
            android:label="@string/title_activity_en_word_detail2"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".dictionary.YourNoteActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".dictionary.DictionaryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".dictionary.EnWordDetailActivity"
            android:exported="false" />
        <activity
            android:name=".learnenglish.fragment.home.ArrangeWordsExercisesActivity"
            android:exported="false"
            android:label="Unit 1"
            android:parentActivityName=".learnenglish.fragment.home.ArrangeWordsTopicsActivity"
            android:theme="@style/Theme.TkActionBar" />
        <activity
            android:name=".learnenglish.fragment.home.ArrangeWordsTopicsActivity"
            android:exported="false"
            android:label="Sắp xếp các từ thành câu"
            android:parentActivityName=".learnenglish.LearnEnglishActivity"
            android:theme="@style/Theme.TkActionBar" />
        <activity
            android:name=".learnenglish.fragment.home.EnglishMultichoiceTestActivity"
            android:exported="false"
            android:label="Đề thi trắc nghiệm"
            android:parentActivityName=".learnenglish.LearnEnglishActivity"
            android:theme="@style/Theme.TkActionBar" />
        <activity
            android:name=".learnenglish.fragment.home.EnglishMultichoiceTestActivity1"
            android:exported="false"
            android:label="Đề thi "
            android:parentActivityName=".learnenglish.LearnEnglishActivity"
            android:theme="@style/Theme.TkActionBar" />
        <activity
            android:name=".learnenglish.fragment.home.EnglishMultichoiceTestActivity2"
            android:exported="false" />
        <activity
            android:name=".learnenglish.fragment.home.ArrangeWordsActivity"
            android:exported="false" />
        <activity
            android:name=".learnenglish.LearnEnglishActivity"
            android:exported="false"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.TkActionBar" />
        <activity android:name="com.canhub.cropper.CropImageActivity" />
        <activity android:name="com.yalantis.ucrop.UCropActivity" />
        <activity
            android:name=".TranslateTextActivity"
            android:exported="false" />
        <activity
            android:name=".TranslationHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.HideShadowActionbar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SettingsActivity" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".dictionary.YourWordActivity"
            android:exported="false" />
    </application>

</manifest>